<h1>New message</h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Text</b><br />
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
